.footer {
          padding: 20px;
          text-align: center;
          margin-top: 20px;
        }
.disclaimer {
          width: 80vw;
          max-width: 940px;
          margin: 0 auto;
        }
.disclaimer hr {
          margin: 20px 0; /* Adjust the values as needed */
        }
